body {
    pointer-events: none;
}

.stage {
    width: 50%;
    height: 100%;
	transform-origin: 0% 50%;
}

.yuri {
    height: inherit;
    z-index: 1;
}

.eyes {
    height: inherit;
    left: 0;
    transition: margin-top 0.03s linear, margin-left 0.03s linear;
    z-index: 2;
}

.overlay {
    background-size: cover;
    background-image: url("img/bg.png");
    background-color: rgba(0,0,0,0.9);
    position:fixed;
    left:0;
    top: 0;
    width:100%;
    height:100%;
    z-index: 3;
    animation-duration: 0.7s;
    animation-timing-function: linear;
}

.overlay::before {
	content: '';
	position: absolute;
	background-color: #000;
	opacity: 0.9;
	width: 100%;
	height: 100%;
}

.overlay.afterHidden {
	background-image: url("img/bg2.png");
	animation-duration: 0.93s;
}

.overlay:not(.afterHidden) > div {
	filter: brightness(0.1);
}

/* Animation keyframes */

@keyframes throb {
    0% {
        transform: scale(1.025);
    }
    10% {
        transform: scale(1.06);
    }
    30% {
        transform: scale(1.08);
    }
    40% {
        transform: scale(1.09);
    }
    50% {
        transform: scale(1.04);
    }
    95% {
        transform: scale(1.10);
    }
    100% {
        transform: scale(1.025);
    }
}
